<%- include('partials/logged-header') -%>
<div class="container card-container">
    <div class="row">
      <div class="col-md-6">
        <img src="<%= post.image%>" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-md-5">
        <h1><%= post.title %></h1>
        <h5>By: <%= user.userName %></h5>
        <p>Price: $<%= post.price %></p>
        <p>Location: <%= post.location %></p>
        <div class="row row-cols-3">
          <!-- <div class="col-md-3">
            <span class="badge pill bg-primary">Profession:</span>
            <p><%= post.profession %></p>
          </div> -->
          <div class="col-md-3">
            <span class="badge pill bg-primary">Profession:</span>
            <p><%= post.profession %></p>
          </div>
          <div class="col-md-3">
            <span class="badge pill bg-primary">Payment:</span>
            <p><%= post.payment %></p>
          </div>
        </div>
        <p><%= post.description %></p>
        <div class="row row-cols-3">
          <form
            class="col justify-content-end"
            action="/job/bookmarkJob/<%= post.id %>?_method=PUT"
            method="POST"
          >
          <button class="<%if(post.bookmarks.includes(user.id)){ %> bi bi-bookmark-fill<%} else { %> bi bi-bookmark <% }%>
            btn btn-primary" type="submit"></button>
          </form>
          <button class="btn btn-primary">Contact &RightArrow;</button>
        </div>
      </div>
    </div>
</div>
<%- include('partials/footer') -%>