<%- include('partials/logged-header') -%>

<div class="container card-container">
  <h1>Explore Job Listings</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% for(var i = 0; i < posts.length; i++) {%>
    <div class="col">
      <div class="card h-100">
        <img src="<%= posts[i].image%>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= posts[i].title %></h5>
          <p class="card-text"><small class="text-muted">By: <%= userName[i]%></small></p>
          <!-- <p class="card-text"><%= posts[i].description %></p> -->
          <p class="card-text">Price: $<%= posts[i].price %></p>
          <p class="card-text">Location: <%= posts[i].location %></p>
          <a href="/post/<%= posts[i]._id%>" class="btn btn-outline-primary">View Job Posting</a>
          <!-- Add other job-related information as needed -->
          <!-- You can also display profile information if desired -->
        </div>
        <!-- You can customize the card's footer with additional information -->
      </div>
    </div>
    <% } %>
  </div>
</div>

<%- include('partials/footer') -%>