<%- include('partials/logged-header') -%>

<div class="container card-container">
    <h1>Explore Available Professionals</h1>
    <div class="row row-cols-1 row-cols-md-4 g-5">
      <% for (var i = 0; i < pros.length; i++) {%>
      <div class="col">
        <div class="card h-100">
          <img src="<%= pros[i].proImage%>" class="rounded-circle" alt="...">
          <div class="card-body">
            <h5 class="card-title center"><%= pros[i].firstName %></h5>
            <p class="card-text"><small class="text-muted"><%= pros[i].profession%></small></p>
            <p class="card-text">Location: <%= pros[i].location %></p>
            <a href="/professional/<%= pros[i]._id%>" class="btn btn-outline-primary">View Professional</a>
            <button class="btn btn-outline-primary">Contact &RightArrow;</button>
            <!-- Add other professional-related information as needed -->
            <!-- You can also display profile information if desired -->
          </div>
          <!-- You can customize the card's footer with additional information -->
        </div>
      </div>
      <% } %>
    </div>
</div>
  

<%- include('partials/footer') -%>